 .header{
                padding: 0px;
                display: flex;
                justify-content: space-between;
                background-color: pink;
                color: white;
            }

            .footer{
                background-color: lightseagreen;
                color: white;
            }
            .container{
                margin:10px;
            }
            *{
                margin:10px;
            }
            .menu{
                display: flex;
                margin: 10px;
                
            }
            .menu li{
                list-style: none;
                margin: 5px;
            }
            .menu li.a{
                text-decoration: none;
                color: white;
            }